body
{
	margin: 0px;
	font-size: 25px;
	font-family: serif,Arial, verdana;
}

#fixheader
{
	overflow:hidden;
	background-color: #333333;
	display:block;
	position: fixed;
	width: 100%;
	top:-45px;
	transition: top 0.5s;
	z-index: 9999;
}

#fixheader ul
{
	float:right;
	margin: 0px;
	padding: 0px;
	margin-right: 15%;

}

#fixheader ul li
{
	float: left;
	display:inline;
	padding: 10px 15px;
	margin: 0px;
	box-sizing: border-box;
	height: 49px;
}

#fixheader ul li a
{
	text-decoration: none;
	color: white;
}

#fixheader ul li:hover
{
	background-color: #FF0000;
	border-bottom: 4px solid #4F82C3;
}

p{
	margin: 0px;
}

.homebackground
{
	height: 200%;
	background-image: url("../img/Modular_kitchen.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
}

.homebackground h2
{
	font-family: helvetica;
	margin: 0px;
	letter-spacing: 4px;
}

.homebackground .home
{
	height: 340px;
	width: 100%;
	box-sizing: border-box;
	background-color:rgba(59, 64, 62,0.4);
	text-align: center;
	padding-top: 5%;
}

.homebackground .home div
{
	padding-top: 70px;
}

.homebackground .home div span
{
	border: 3px solid black;
	background-color:rgba(59, 64, 62,0.7);
	box-shadow: 0px 7px 5px rgba(0,0,0, 0.9);
	padding: 8px;
}

.homebackground .home .arrows
{
	padding-top: 20px;
}

.homebackground .home .arrows p
{
	font-size: 75px;
	transform: rotate(-90deg);
}

.homebackground .about
{
	height: 400px;
	margin-top:15px;
	width: 100%;
	background-color:rgba(227, 227, 227,0.4);
}