body
{
	margin: 0px;
	font-size: 24px;
	font-family: serif,Arial, verdana;
}

#fixheader
{
	overflow:hidden;
	background-color: #333333;
	display:block;
	position: fixed;
	width: 100%;
	top:-45px;
	transition: top 0.5s;
}

#fixheader ul
{
	float:right;
	margin: 0px;
	padding: 0px;
	margin-right: 15%;

}

#fixheader ul li
{
	float: left;
	display:inline;
	padding: 10px 15px;
	margin: 0px;
	box-sizing: border-box;
	height: 49px;
}

#fixheader ul li a
{
	text-decoration: none;
	color: white;
}

#fixheader ul li:hover
{
	background-color: #FF0000;
	border-bottom: 4px solid #4F82C3;
}

#fixheader .progress-container
{
	width: 100%;
	background-color: green;
	height: 8px;
	float:right;
}


p{
	margin-top: 50px;
}