body
{
	margin: 0px;
	font-size: 25px;
	font-family: serif,Arial, verdana;
}

#fixheader
{
	overflow:hidden;
	background-color: #333333;
	display:block;
	position: fixed;
	width: 100%;
	top:-45px;
	transition: top 0.5s;
	z-index: 9999;
}

#fixheader ul
{
	float:right;
	margin: 0px;
	padding: 0px;
	margin-right: 12%;

}

#fixheader ul li
{
	float: left;
	display:inline;
	padding: 10px 15px;
	margin: 0px;
	box-sizing: border-box;
	height: 49px;
}

#fixheader ul a
{
	text-decoration: none;
	color: white;
}

#fixheader ul li:hover
{
	background-color: #FF0000;
	border-bottom: 4px solid #4F82C3;
}

p{
	margin: 0px;
}

.homebackground
{
	background-image: url("../img/Modular_kitchen.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
}

.homebackground h2
{
	font-family: verdana;
	margin: 0px;
	letter-spacing: 4px;
}

.homebackground .home
{
	height: 360px;
	width: 100%;
	box-sizing: border-box;
	background-color:rgba(59, 64, 62,0.4);
	text-align: center;
	padding-top: 9.5%;
	border: 2px solid black;
}

.homebackground .home div
{
	padding-top: 40px;
}

.homebackground .home div span
{
	border: 3px solid black;
	background-color:rgba(59, 64, 62,0.7);
	box-shadow: 0px 7px 5px rgba(0,0,0, 0.9);
	padding: 8px;
}

.homebackground .home .arrows
{
	padding-top: 15px;
}

.homebackground .home .arrows p
{
	font-size: 75px;
	transform: rotate(-90deg);
}

.homebackground .about
{
	height: 350px;
	margin-top:32px;
	width: 100%;
	box-sizing: border-box;
	border: 2px solid black;
	background-color:rgba(227, 227, 227,0.5);
}

.homebackground .about .image img
{
	border-radius: 50%;
	width: 240px;
	height: 240px;
}

.homebackground .about .image
{
	padding-left: 70px;
	padding-top: 55px;
	float: left;
}

.homebackground .about .information-left
{
	float: left;
	margin-left: 6%;
	margin-top: 4%;
	font-family: verdana;
	font-size: 24px;
	line-height: 45px;
}

.fa:before
{
	font-size: 40px;
}

.homebackground .about .information-right
{
	float: right;
	margin-top: 4%;
	margin-right:3%;
	font-family: verdana;
	font-size: 25px;
	line-height: 50px;
}

.homebackground .about p
{
	color: black;
}

.whatIcan
{
	width: 100%;
	overflow:hidden;
	background-color: rgba(227, 227, 227, 0.5);
	padding-bottom: 20px;
}

.whatIcan h2
{
	color: #0e76bc;
	text-align: center;
	margin: 0px;
	padding-top: 10px;
}


.whatIcan .canimg
{
	width:100%;
	height: 100%;
}

.whatIcan img
{
	width: 40%;
	height: 450px;
	padding-left: 6.5%;
	padding-top: 3%;
	/*display:inline-block;*/
}

/* ------------   gallery   --------------------*/

.gallery 
{
	width: 100%;
	background-color: rgba(227, 227, 227, 0.5);
	padding-bottom: 20px;
	height: 770px;
	position: relative;
}

.gallery h2
{
	color: #0e76bc;
	text-align: center;
	margin: 0px;
	padding-top: 20px;
}


/*------------------  Slide ----------------------*/
.gallery .slideshow
{
	width: 100%;
	padding-top: 20px;

}

.gallery .slideshow .slideimg
{
  
  position: relative;
  display: none;
  animation: 1s fade;
}

@keyframes fade
{
  from
  {
    opacity: 0.2;
    position: relative;
    left: 100%;
    width:0%;
  }
  to
  {
    opacity: 1;
    position: relative;
    width:100%;
    left:0%;
  }
}

.gallery .slideshow .slideimg img
{
   width: 86%;
   height: 680px;
   padding: 2px 7%;
}

.gallery .slideshow .text
{
	font-family: cursive, monospace, 'Lucida Console', Monaco;
	font-size: 34px;
	position: absolute;
	bottom: 30px;
	left: 42%;
	color: #f2f2f2;
	text-shadow: 2px 2px 2px black;
}

.next, .prev
{
	position: absolute;
	top: 48%;
	color: black;
	font-size: 50px;
	cursor: pointer;

}

.next
{
	right: 3%;
}

.prev
{
	left: 3%;
}

.prev:hover, .next:hover {
 background-color: rgba(14, 118, 188, 0.5);
}


.dash
{
	text-align: center;
}

.dash .dots
{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: white;
	display:inline-block;
	cursor: pointer;
	margin: 4px;
	background-color: #bbb;
	transition: background-color 0.6s ease;
}

.gallery .dash .active, .dots:hover {
  background-color: #717171;
}



/* ============ screen resolution less than 1024px ============== */
@media only screen and (max-width: 1280px){
  
body
{
	margin: 0px;
	font-size: 22px;
	font-family: serif,Arial, verdana;
}

#fixheader
{
	overflow:hidden;
	background-color: #333333;
	display:block;
	position: fixed;
	width: 100%;
	top:-45px;
	transition: top 0.5s;
	z-index: 9999;
}

#fixheader ul
{
	float:right;
	margin: 0px;
	padding: 0px;
	margin-right: 10%;

}

#fixheader ul li
{
	float: left;
	display:inline;
	padding: 12px 15px;
	margin: 0px;
	box-sizing: border-box;
	height: 51px;
}

#fixheader ul a
{
	text-decoration: none;
	color: white;
}

#fixheader ul li:hover
{
	background-color: #FF0000;
	border-bottom: 5px solid #4F82C3;
}

p{
	margin: 0px;
}

.homebackground
{
	background-image: url("../img/Modular_kitchen.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
}

.homebackground h2
{
	font-family: verdana;
	margin: 0px;
	letter-spacing: 4px;
}

.homebackground .home
{
	height: 400px;
	width: 100%;
	box-sizing: border-box;
	background-color:rgba(59, 64, 62,0.4);
	text-align: center;
	padding-top: 12%;
	border: 2px solid black;
}

.homebackground .home div
{
	padding-top: 80px;
}

.homebackground .home div span
{
	border: 3px solid black;
	background-color:rgba(59, 64, 62,0.7);
	box-shadow: 0px 7px 5px rgba(0,0,0, 0.9);
	padding: 10px;
}

.homebackground .home .arrows
{
	padding-top: 20px;
}

.homebackground .home .arrows p
{
	font-size: 75px;
	transform: rotate(-90deg);
}

.homebackground .about
{
	height: 460px;
	margin-top:50px;
	width: 100%;
	box-sizing: border-box;
	border: 2px solid black;
	background-color:rgba(227, 227, 227,0.5);
}

.homebackground .about .image img
{
	border-radius: 50%;
	width: 250px;
	height: 250px;
}

.homebackground .about .image
{
	padding-left: 60px;
	padding-top: 105px;
	float: left;
}

.homebackground .about .information-left
{
	float: left;
	margin-left: 4%;
	margin-top: 9%;
	font-family: verdana;
	font-size: 22px;
	line-height: 50px;
}

.fa:before
{
	font-size: 42px;
}

.homebackground .about .information-right
{
	float: right;
	margin-top: 9%;
	margin-right:2%;
	font-family: verdana;
	font-size: 22px;
	line-height: 48px;
}

.homebackground .about p
{
	color: black;
}


}